<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-dougnut-graphic [chartLabels]="graphics.graphic1.labels"
                [chartData]="graphics.graphic1.data"
                [chartType]="graphics.graphic1.type"
                [chartTitle]="graphics.graphic1.title"></app-dougnut-graphic>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-dougnut-graphic [chartLabels]="graphics.graphic3.labels"
                [chartData]="graphics.graphic2.data"
                [chartType]="graphics.graphic2.type"
                [chartTitle]="graphics.graphic2.title"></app-dougnut-graphic>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-dougnut-graphic [chartLabels]="graphics.graphic3.labels"
                                    [chartData]="graphics.graphic3.data"
                                    [chartType]="graphics.graphic3.type"
                                    [chartTitle]="graphics.graphic3.title"></app-dougnut-graphic>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-dougnut-graphic [chartLabels]="graphics.graphic4.labels"
                [chartData]="graphics.graphic4.data"
                [chartType]="graphics.graphic4.type"
                [chartTitle]="graphics.graphic4.title"></app-dougnut-graphic>
            </div>
        </div>
    </div>
</div>